# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
ios/
android/
*.aab
*.apk
*.ipa

# EAS / credentials
credentials/
google-services.json
GoogleService-Info.plist

# Env
.env
.env.*

# OS / editor
.DS_Store
*.swp
.idea/
.vscode/

# Test
coverage/
